:root{
    --botton-collor:#2196F3;
    --names-links-color: #212121;
    --names-adress-discriptions: #757575;
}
body {
font-family: Roboto,  sans-serif;
font-weight: 400 ;
}

/* === header ====*/
.logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19px;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo-firs-part {
    color: #2196F3;
}

.logo-sacond-part {
    color: #000000;
}

.link {
  text-decoration: none;
  color: var(--names-links-color);

}

.list {
  list-style: none;
}

.navigation-list {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--names-links-color);

}

.navigation:hover,
.navigation:focus {
    color: var(--botton-collor);
}

.contacts-link{
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--names-adress-discriptions);
}
.contacts-link:hover,
.contacts-link:focus {
    color:var(--botton-collor);
}

/* === header end====*/
/*====hero=====*/

.hero-discription{
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

/*color: #FFFFFF;*/
}

.hero-batton {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background:var(--botton-collor);
    color: #FFFFFF;
}

.hero-batton:focus,
.hero-batton:hover {
background: #188CE8;
}
/*====hero end=====*/
/*====our advantages====*/

.advantages {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--names-links-color);
}

.advantages-description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--names-adress-discriptions);
}
/*====our advantages end====*/

/*====what are we doing====*/

.we-do-section{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--names-links-color);
}
/*====what are we doing end====*/

/*===our team====*/

.team{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--names-links-color);
}

.team-names{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--names-links-color);
}

.team-position {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
     text-align: center;
    letter-spacing: 0.03em;
    color: var(--names-adress-discriptions);
}

.adress-on-map {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    /*color: #FFFFFF*/
}

.mail-footer {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    /*color: rgba(255, 255, 255, 0.6)*/
}

.namber-footer{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    /*color: rgba(255, 255, 255, 0.6);*/
}

.portfolio-list-title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--names-links-color);
}

.portfolio-discription {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color:var(--names-adress-discriptions);
}

.portfolio-filtr {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--names-links-color);
}

.portfolio-filtr:focus,
.portfolio-filtr:hover{
    background:var(--botton-collor);
}